.image.little .link {
  opacity: 0.5;
}

.image.little .link:hover {
  opacity: 1;
}

div.image.big {
  position: relative;
  text-align: center;
}

div#full_image {
  margin: auto;
  position: relative;
}

div.image .t_image {
  color: #ccc;
  font-size: 25px;
  font-style: italic;
  text-align: left;
}

#prev_image,
#next_image {
  margin-top: 100px;
  width: 128px;
  height: 128px;
  display: none;
  opacity: 0.1;
  position: fixed;
  top: 0px;
  font-size: 0;
}

#prev_image {
  background: url(../images/prev.png) top left no-repeat;
  left: 0px;
  color: #000;
}

#next_image {
  background: url(../images/next.png) top left no-repeat;
  right: 0px;
  color: #000;
}

#image_back {
  width: 48px;
  height: 48px;
  background: url(../images/back.png) top left no-repeat;
  opacity: 0.5;

  position: fixed;
  top: 5px;
  left: 5px;

  font-size: 0;
  color: #000;
}

#image_help {
  position: fixed;
  top: 60px;
  left: 5px;
  color: #888;
  font-size: 11px;
  text-align: left;
}

#image_help strong {
  font-weight: bold;
  font-size: 12px;
  margin-right: 5px;
}

#image_play {
  position: fixed;
  top: 5px;
  left: 60px;
  width: 48px;
  height: 48px;
  background: url(../images/play.png) top left repeat-x;
  opacity: 0.5;
  font-size: 0;
  cursor: pointer;
  color: #000;
}

#diapo_image.diapo #image_play {
  background-position: 0 -48px;
}

#image_back:hover, #diapo_image #image_play:hover {
  opacity: 1;
}

div.image div.infos_box { 
  padding: 5px;
  margin: 20px 0;  
  border: 1px solid #222;
  background: #111;
  font-size: 13px;
}
div.image div.infos_box a { 
  text-decoration: none; 
}
div.image div.infos_box .top div {
  display: inline;
  margin: 0 10px;
}
div.image div.infos_box .top {
  padding-bottom: 5px;
  border-bottom: 1px solid #222;
  margin-bottom: 5px;
} 
div.image div.infos ul.image_tags li {
  display:block;
  float: left;
  margin-right: 20px;
}

div.image.list ul.elements {
  padding: 10px 0 0 7px;
}

.image li.medium_image {
  width:160px;
  height:160px;
  background: #000;
  border:7px solid #000;
  border-top: 0;
  border-left: 0;
  margin: 5px 5px 0 0;
  margin: 0;

  /* required to hide the image after resized */
  overflow:hidden;

  /* for child absolute position */
  position:relative;

  /* display div in line */
  float:left;
}

.image li.medium_image div.caption {
  width:154px;
  height:30px;
  background:#000;
  color:#fff;
  font-weight:bold;

  /* fix it at the bottom */
  position:absolute;
  bottom:-1px; /* fix IE issue */
  left:0;

  /* hide it by default */
  display:none;

  /* opacity setting */
  filter:alpha(opacity=70);    /* ie  */
  opacity: 0.7;    /* css standard, currently it works in most modern browsers like firefox,  */
  text-decoration:none;
  color:#fff;
  font-size:12px; 
  padding: 3px;
}

.image li.medium_image img {
  border:0;
  position:absolute;
}
