.dm_access_links {
  position: absolute;
  left: -9000px;
}

.pager {
  text-align: center;
}

.pager .page {
  display: inline;
  margin: 0 5px;
}

body.full_screen #dm_page.edit .dm_widget > .dm_widget_edit {
  margin-left: 200px;
}

strong {
  font-weight: bold;
}

#dm_page a.diapo_link {
  display: block;
  float: left;
  background: url(../images/play24.png) top right no-repeat;
  height: 24px;
  line-height: 24px;
  padding: 0 30px 0 0;
  text-decoration: none;
}

#dm_page a.diapo_link:hover {
  background-position: right -24px;
}

#full_screen_loading {
  position: absolute;
  top: 0;
  left: 0;
  background: #000 url(../images/load.gif) center center no-repeat;
  opacity: 0.5;
}

div.main_head_links {
  margin-bottom: 5px;
  padding-top: 10px;
  position: relative;
}

div.main_head_links .right {
  text-align: right;
}

div.main_head_links li {
  display: inline;
  list-style: none;
  margin-right: 20px;
}

div.main_head_links .right li {
  margin-right: 0;
  margin-left: 10px;
}

#dm_page .main_head_links li .link {
  text-transform: uppercase;
  font-size: 12px;
  text-decoration: none;
  padding: 6px 10px 5px 10px;
  letter-spacing: 1px;
  border: 2px solid #000;
  border-bottom: 0;
}

#dm_page .main_head_links .rss_link {
  float: right;
  margin-left: 20px;
  margin-top: -2px;
}

#dm_page .main_head_links .link.dm_parent,
#dm_page .main_head_links .link.dm_current {
  background: #aaa;
  color: #000;
  font-weight: bold;
  background: url(../images/bg_onglet.png) bottom left repeat-x;
  border-color: #555;
  border-bottom: 0;
  padding: 6px 10px 6px 10px;
}