div.rubrique.list {
  margin-bottom: 10px;
}

#dm_page div.rubrique.list .link {
  color: #aaa;
  height: 40px;
  line-height: 40px;
  padding-left: 12px;
  text-decoration: none;
  display: block;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
  -moz-border-radius: 4px;
}

#dm_page div.rubrique.list .link.dm_current,
#dm_page div.rubrique.list .link.dm_parent,
#dm_page div.rubrique.list a.link:hover {
  background: url(../images/rubrique_over.png) top left repeat-y;
  color: #000;
}

div.preface {
  margin-top: 3px;
  background: #fff url(../images/dirtypaper.jpg) top left no-repeat;
  color: #000;
  font-family: "monospace";
}

div.preface a.next_page {
  float: right;
  color: #fff;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
  padding: 10px 5px;
}

#dm_page div.preface a.bottom_close {
  float: right;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
  padding: 1em;
  color: #000;
}

.preface_text {
  font-size: 0.9em;
  padding: 1em 1em 0 1em;
}

.preface_text p {
  text-indent: 2em;
}

.preface_title {
  font-size: 1.5em;
  padding: 1em 110px 0 1em;
}

div.preface h3 {
  font-size: 1.3em;
}

.preface_image {
  float: left;
  margin: 0 1em 1em 0;
}