div.dm_tag_list .link {
  font-size: 11px;
  line-height: normal;
  text-decoration: none;
  display: block;
  margin-bottom: 5px;
}

div.dm_tag_cloud {
  margin: 10px;
}

div.dm_tag_cloud a.link {
  float: left;
  margin: 0 10px;
  text-decoration: none;
}