config/databases.yml
config/require_diem.php
cache/*
log/*
data/dm/*
public_html/cache/*
public_html/.htaccess
public_html/dm*Plugin
public_html/sf*
public_html/uploads/*
public_html/stats/*
public_html/theme/images/themes.xcf
lib/*/doctrine/base
lib/*/doctrine/dm*Plugin/base

nbproject
