config/databases.yml
config/require_diem.php
cache/*
log/*
logs
data/dm/*
public_html/cache/*
public_html/.htaccess
public_html/Plugin
public_html/sf
public_html/uploads/*
public_html/stats/*
lib/*/doctrine/base
lib/*/doctrine/*Plugin/base
